.gauche{
    background-color: white;
    color: black;
    border: 2px solid gray;
    border-radius: 5px;
    padding-top: 5px;
}

.droite{
    background-color: white;
    border: 2px solid gray;
    border-radius: 5px;
}

.row{
    margin: 20px 0px;
}

.hidden{
    display: none;
}

.ptitButton{
    margin: 0px 2px;
}